/* This fixes the heigh of the date to fit in with the other connections */
.discordMemberCreatedAt-3htTfn {
   height: 24px;
   padding: 8px;
}

.discordMemberCreatedAtIconContainer-2NS-8S {
   padding: 0px;
   background-color: var(--background-tertiary);
}

.discordMemberCreatedAtText-18ZCAV>div{
   display: none;
}

.discordMemberCreatedAt-3htTfn>.discordMemberCreatedAtText-18ZCAV>h3{
   font-size: 16px;
   font-family: inherit;
   font-weight: 600;
   user-select: text;
}
