/* This fixes the heigh of the date to fit in with the other connections */
.discordMemberCreatedAtIconContainer-2oMHqL  {
   padding: 0px;
   background-color: var(--background-tertiary);
}

.discordMemberCreatedAtIcon-126if8 {
   width: 24px;
   height: 24px;
}

.discordMemberCreatedAtText-15sN5q>div{
   display: none;
}

.discordMemberCreatedAt-31OkT7>.discordMemberCreatedAtText-15sN5q>h3{
   font-size: 16px;
   font-family: inherit;
   font-weight: 600;
   user-select: text;
}
