.message-2CShn3{
    margin-left: 10px;
    margin-right: 10px;
}
.message-2CShn3:not(.mentioned-Tre-dv,.replying-eZ7p5z){
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.replying-eZ7p5z{
    margin-left: 10px;
    margin-right: 10px;
}
.hasReply-2Cr4KE{
    margin-left: 10px;
    margin-right: 10px;
}
