.channelTextArea-1deLlK {
  margin-bottom: 0;
}
.form-3qe0Ni {
  padding: 0;
}
.inner-NQg18Y {
  padding-top: 5px;
}
.base-3bcbY3 {
  top: -24px;
  pointer-events: none;
}
.theme-dark .scrollableContainer-15eg7h {
  border-radius: 0px;
  min-height: 53px;
}

/* Credit to DaBluLite for original snippet (https://dablulite.github.io/css-snippets/ConsistentChatbar/import.css) and to @huderon (Barnyard) for fixing it */
