/* Hides when a message was sent, but it fades in once message is hovered */
.message__80c10 .header__39b23>.timestamp_cdbd93{
  opacity: 0;
  transition: .3s ease;
}
.mouse-mode.full-motion .message__80c10:hover .header__39b23>.timestamp_cdbd93{
  opacity: 1;
}
