/* Hides when a message was sent, but it fades in once message is hovered */
.message-2CShn3 .header-2jRmjb>.timestamp-p1Df1m{
  opacity: 0;
  transition: .3s ease;
}
.mouse-mode.full-motion .message-2CShn3:hover .header-2jRmjb>.timestamp-p1Df1m{
  opacity: 1;
}
