.winButtonClose-3Q8ZH5 {
    order: 3;
    margin-top: var(--mactitlebar-top-margin);
    margin-left: var(--mactitlebar-left-margin);
}
.winButtonMinMax-3RsPUg {
    order: 1;
    margin-top: var(--mactitlebar-top-margin);
}
.winButtonMinMax-3RsPUg:last-child {
    margin-top: var(--mactitlebar-top-margin);
}
.winButtonClose-3Q8ZH5 > svg {
    background: var(--mactitlebar-close-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonClose-3Q8ZH5 > svg > polygon {
    display: none !important;
}
.winButtonMinMax-3RsPUg > svg {
    background: var(--mactitlebar-max-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonMinMax-3RsPUg:last-child > svg {
    background: var(--mactitlebar-min-btn-back) !important;
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
}
.winButtonMinMax-3RsPUg > svg > rect {
    display: none !important;
}
.winButton-3UMjdg:hover {
    background-color: transparent;
}
.winButton-3UMjdg {
    width: var(--mactitlebar-button-width) !important;
    height: var(--mactitlebar-button-height) !important;
}
.guilds-2JjMmN > ul {
    margin-top: var(--macbuttons-serverlist-inner-top-margin);
}
.guilds-2JjMmN {
    margin-top: var(--macbuttons-serverlist-outer-top-margin);
    height: var(--macbuttons-serverlist-outer-height);
}
.typeWindows-2-g3UY {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 0;
    position: absolute;
    background-color: transparent;
}
.platform-win .closeButton-30b1gR {
    width: 100% !important;
    -webkit-app-region: drag;
}
.platform-win .container-ZMc96U {
    width: 100% !important;
    -webkit-app-region: drag;
}
.platform-win .title-31SJ6t {
    width: 100% !important;
    -webkit-app-region: drag;
}
.wordmark-2u86JB {
    display: none;
}
:root {
    --mactitlebar-left-margin: 5px;
    --mactitlebar-top-margin: 10px;
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-max-btn-back: #fac536;
    --mactitlebar-min-btn-back: #39ea49;
    --macbuttons-serverlist-inner-top-margin: 32px;
    /*guilds inner ul element*/
    --macbuttons-serverlist-outer-top-margin: 0;
    --macbuttons-serverlist-outer-height: 100%;
}
.winButtonMinMax-3RsPUg:last-child{
    order: -1;
}
