.winButton-3UMjdg:nth-child(2) {
    color: red;
    border-radius: 2000px;
    background-color:red;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 8px;
    margin-left: 10px;
}
.winButtonMinMax-3RsPUg:nth-child(4):hover {
    color:limegreen;
    border-radius: 2000px;
    background-color:limegreen;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: -2px;
    margin-left: 10px;
}
.winButtonMinMax-3RsPUg:nth-child(3):hover {
    color:orange;
    border-radius: 200px;
    background-color:orange;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: -2px;
    margin-left: 10px;
}
.winButton-3UMjdg:nth-child(2):hover {
    color:red;
    border-radius: 50%;
    background-color:red;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 8px;
    margin-left: 10px;
}
.winButtonMinMax-3RsPUg:nth-child(4) {
    color:limegreen;
    border-radius: 200px;
    background-color:limegreen;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: -2px;
    margin-left: 10px;
}
.winButtonMinMax-3RsPUg:nth-child(3) {
    color:orange;
    border-radius: 200px;
    background-color:orange;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: -2px;
    margin-left: 10px;
}
.winButton-3UMjdg {
    color: red;
    transition: all 200ms ease-out;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: -2px;
    margin-left: 10px;
}
.winButton-3UMjdg:hover {
    background: transparent;
    border-radius: 30px;
    transition: all 200ms ease-out;
}
