/* Rounds the edges of a hovered message */
.message__80c10:is(.mentioned__58017,.replying_d7b6ad) :where(.repliedMessage_e2bf4a,.contents_f41bb2,.contents_f41bb2>img,.contents_f41bb2+div:not(:last-child)){
    margin-left: 10px;
    margin-right: 10px;
}
.message__80c10:not(.mentioned__58017,.replying_d7b6ad),.zalgo__39311[aria-labelledby^=message-username-Uploader]{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
