.content-3spvdd {
  background: #3f4147;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: 500;
  justify-content: center;
}
.divider-IqmEqJ:not(.isUnread-3Lojb-) {
  border-color: transparent;
}
