.content-3spvdd {
  background: #3f4147;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: 500;
  justify-content: center;
}
.divider-IqmEqJ:not(.isUnread-3Lojb-) {
  border-color: transparent;
}
.divider-IqmEqJ {
  border-color: transparent;
}
.unreadPill-3nEWYM {
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.unreadPillCap-2-iI4h {
  display: none;
}
.divider-2rZFJK:has(.unreadPill-3nEWYM) > .content-3spvdd {
  background-color: #f23f42;
  color: white;
}
