.userPopout-2j1gM4{
    transform:translate(0);
    --border-width:1px;
}

.banner-1YaD3N:after{
    content:'';
    position:fixed;
    height:100%;
    width:100%;
    z-index:1;
    border:var(--border-width) solid #0000;
    background-color:inherit;
    background-origin: border-box;
    -webkit-mask: 
        linear-gradient(#000 0 0) padding-box, 
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    box-sizing:border-box;
    border-radius:8px;
}
