#app-mount>.errorPage-2pZ2Kq::before,
#app-mount>.errorPage-2pZ2Kq::after {
    position: absolute;
    padding: 8px;
    margin: 16px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    font-weight: 500;
    word-break: break-word;
    white-space: pre-wrap;
    z-index: 1002;
}

.platform-osx #app-mount>.errorPage-2pZ2Kq::before {
    margin-top: 35px;
}
/* --- Hide libs --- */
div#BDFDB-card, div#ZeresPluginLibrary-card, div#XenoLib-card {display: none;}

/* --- Hide unused buttons --- */
.iconWrapper-2awDjA[aria-label="Notification Settings"],
.iconWrapper-2awDjA[aria-label="Hide Member List"],
.iconWrapper-2awDjA[aria-label="Help"] {
    display: none;
}

/* --- Historical --- */
#app-mount>.errorPage-2pZ2Kq::before {
    top: 0;
    background: var(--info-positive-background);
    border: 1px solid var(--info-positive-foreground);
    color: var(--info-positive-text);
    content: '\
[2022-04-04] [UnreadCountBadges] Fixed in version 1.3.0\a
[2022-04-13] [WhoReacted] Reaction load. Fixed in version 1.2.4\a
[2022-04-17] [GuildProfile] Clicking server profile menu. Fixed in version 1.5.6\a
';

}

/* --- Current Warning --- */
#app-mount>.errorPage-2pZ2Kq::after {
    bottom: 0;
    background: var(--info-warning-background);
    border: 1px solid var(--info-warning-foreground);
    color: var(--info-warning-text);
    content: '\
[2022-04-18 14:15:EST] 0 ongoing reported issues.\a
';

}

/* --- edited text --- */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
    content: " (" attr(aria-label) ")";
    color: var(--text-muted);
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1;
    text-transform: lowercase;
}
.edited-1v5nT8:not(.message-translate-indicator) {
display: none;
}

/* --- Round Message Bar --- */
.scrollableContainer-15eg7h {
    border-radius: 25px;
}

/* --- Hide nitro icon on banners --- */
.premiumIconWrapper-32h0Ri {display:none}

/* --- Hidden voice bar --- */
.panels-3wFtMD:not(:hover) > :not(:last-child), .panels-3wFtMD:not(:hover) > .wrapper-3Hk90B ~ div {
padding: 0;
overflow: hidden;
height: 0;
min-height: 0
}

/* --- UserPopout Border --- */
.userPopout-2j1gM4 .headerNormal-3Zn_yu {
display: contents ;
}
.userPopout-2j1gM4 .banner-1YaD3N {
display: contents ;
}
.userPopout-2j1gM4 .avatarPositionNormal-2jWoC2 ~ .headerTop-3GPUSF {
padding-top: 16px ;
}
.userPopout-2j1gM4 .banner-1YaD3N::after {
content: '';
display: block;
position: absolute ;
top: -1px ;
left: -1px ;
background-color: inherit ;
height: calc(100% + 2px) ;
width: calc(100% + 2px) ;
z-index: -1 ;
border-radius: 8px ;
}
.userPopout-2j1gM4 .banner-1YaD3N::before {
content: '';
display: block;
position: relative ;
height: 120px ;
background-image: inherit ;
}

/* --- Better Inbox --- */
.recentMentionsPopout-2bI1ZN .container-iA3Qrz,
.recentMentionsPopout-2bI1ZN .channel-3NJZ1V {
    background-color: var(--background-primary);
    border-radius: 8px;
    overflow: hidden;
}

.recentMentionsPopout-2bI1ZN .container-iA3Qrz {
    margin: 16px;
    padding-right: unset;
}

.recentMentionsPopout-2bI1ZN .channel-3NJZ1V {
    margin: 16px 8px 16px 0;
    padding-bottom: 0;
}

.recentMentionsPopout-2bI1ZN .channelHeader-DFRX8q {
    background-color: var(--background-primary);
    height: fit-content;
    padding: 6px 16px;
    border-bottom: thin solid var(--background-modifier-accent);
}

.recentMentionsPopout-2bI1ZN .messageContainer-3VTXBC,
.recentMentionsPopout-2bI1ZN .messages-23can0 {
    margin-left: unset;
    background: none;
    border-radius: unset;
}

/* header icon */
.recentMentionsPopout-2bI1ZN .iconSizeMedium-2vzSua {
    width: 24px;
    height: 24px;
}

.recentMentionsPopout-2bI1ZN .iconActiveMedium-27_R5B {
    border-radius: 7px;
}

.recentMentionsPopout-2bI1ZN .dmIcon-1ZeAqq,
.recentMentionsPopout-2bI1ZN .guildIcon-IklRcj {
    margin-right: 6px;
}

/* channel name section */
.recentMentionsPopout-2bI1ZN .channelName-3APnhp svg path {
    fill: var(--channel-icon);
}

.recentMentionsPopout-2bI1ZN .channelName-3APnhp svg {
    margin: 0 4px;
}

.recentMentionsPopout-2bI1ZN .channelNameSection-3OgeRa {
    -webkit-box-orient: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
}

.recentMentionsPopout-2bI1ZN .heading-md-medium-2DVCeJ,
.recentMentionsPopout-2bI1ZN .heading-md-normal-3Ytn6I {
    font-size: 16px;
    line-height: 20px;
}

.recentMentionsPopout-2bI1ZN .subtext-2-lYzF,
.recentMentionsPopout-2bI1ZN .subtextContainer-1jbEbB {
    margin-left: 4px;
    line-height: 20px;
    width: fit-content;
}

/* buttons */
.recentMentionsPopout-2bI1ZN .container-iA3Qrz .closeButton-3CiW2j {
    opacity: 0;
}

.recentMentionsPopout-2bI1ZN .container-iA3Qrz:hover .closeButton-3CiW2j {
    opacity: 1;
}

.recentMentionsPopout-2bI1ZN .tertiary-1e-lAP:not(.disabled-184-il),
.recentMentionsPopout-2bI1ZN .tertiary-1e-lAP:hover:not(.disabled-184-il) {
    background: none;
}

.recentMentionsPopout-2bI1ZN .collapseButton-39-IRc:hover {
    color: var(--interactive-active);
}

.recentMentionsPopout-2bI1ZN .collapseButton-39-IRc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: unset;
    width: 32px;
    height: 32px;
    padding: unset;
    margin-left: 12px;
}

/* Better vc seperation */
.recentMentionsPopout-2bI1ZN .messages-23can0>button:last-of-type {
    margin-left:auto;
}
.containerDefault-YUSmu3 .list-2x9Cl9.list-2kKmFw{
    border-left: 1px solid var(--background-modifier-accent);
    border-bottom: 1px solid var(--background-modifier-accent);
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 24px;
}
/* Better Inbox */
.recentMentionsPopout-2bI1ZN .container-iA3Qrz,
.recentMentionsPopout-2bI1ZN .channel-3NJZ1V {
    background-color: var(--background-primary);
    border-radius: 8px;
    overflow: hidden;
}

.recentMentionsPopout-2bI1ZN .container-iA3Qrz {
    margin: 16px;
    padding-right: unset;
}

.recentMentionsPopout-2bI1ZN .channel-3NJZ1V {
    margin: 16px 8px 16px 0;
    padding-bottom: 0;
}

.recentMentionsPopout-2bI1ZN .channelHeader-DFRX8q {
    background-color: var(--background-primary);
    height: fit-content;
    padding: 6px 16px;
    border-bottom: thin solid var(--background-modifier-accent);
}

.recentMentionsPopout-2bI1ZN .messageContainer-3VTXBC,
.recentMentionsPopout-2bI1ZN .messages-23can0 {
    margin-left: unset;
    background: none;
    border-radius: unset;
}

.recentMentionsPopout-2bI1ZN .iconSizeMedium-2vzSua {
    width: 24px;
    height: 24px;
}

.recentMentionsPopout-2bI1ZN .iconActiveMedium-27_R5B {
    border-radius: 7px;
}

.recentMentionsPopout-2bI1ZN .dmIcon-1ZeAqq,
.recentMentionsPopout-2bI1ZN .guildIcon-IklRcj {
    margin-right: 6px;
}

.recentMentionsPopout-2bI1ZN .channelName-3APnhp svg path {
    fill: var(--channel-icon);
}

.recentMentionsPopout-2bI1ZN .channelName-3APnhp svg {
    margin: 0 4px;
}

.recentMentionsPopout-2bI1ZN .channelNameSection-3OgeRa {
    -webkit-box-orient: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
}

.recentMentionsPopout-2bI1ZN .heading-md-medium-2DVCeJ,
.recentMentionsPopout-2bI1ZN .heading-md-normal-3Ytn6I {
    font-size: 16px;
    line-height: 20px;
}

.recentMentionsPopout-2bI1ZN .subtext-2-lYzF,
.recentMentionsPopout-2bI1ZN .subtextContainer-1jbEbB {
    margin-left: 4px;
    line-height: 20px;
    width: fit-content;
}


.recentMentionsPopout-2bI1ZN .container-iA3Qrz .closeButton-3CiW2j {
    opacity: 0;
}

.recentMentionsPopout-2bI1ZN .container-iA3Qrz:hover .closeButton-3CiW2j {
    opacity: 1;
}

.recentMentionsPopout-2bI1ZN .tertiary-1e-lAP:not(.disabled-184-il),
.recentMentionsPopout-2bI1ZN .tertiary-1e-lAP:hover:not(.disabled-184-il) {
    background: none;
}

.recentMentionsPopout-2bI1ZN .collapseButton-39-IRc:hover {
    color: var(--interactive-active);
}

.recentMentionsPopout-2bI1ZN .collapseButton-39-IRc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: unset;
    width: 32px;
    height: 32px;
    padding: unset;
    margin-left: 12px;
}

.recentMentionsPopout-2bI1ZN .messages-23can0>button:last-of-type {
    margin-left:auto;
}
